header {
  font-size: xx-large;
  text-align: center; 
  font-style: italic;
}

footer {
  font-size: smaller;
  text-align: center;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  background-image: url(../images/background.png);
  background-size: cover; /* Scales image to cover the entire background */
  background-repeat: no-repeat; /* Prevents repeating */
  background-position: center center; /* Centers the image */
}

#content {
  width: 80%;
  background-color: rgba(194, 213, 216, 0.89);
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  max-width: 500px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.img-div {
  padding: 20px;
  text-align: center;
}

.img {
  height: 250px; 
  width: 250px;
}

.about {
  font-size: larger;
  padding: 20px; 
  text-align: right;
  text-align: center;
}